@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");
@import url("./css/reset.css");
@import url("./css/variable.css");

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: var(--color-bg);
}

/* ========== 스타일 ========== */
.logo {
  text-align: center;
  margin-bottom: 68px;
}

.logo img {
  width: 438px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 28px;
}

.vending-machine {
  width: 360px;
  background-color: #fff;
  padding: 27px;
  box-sizing: border-box;
}

.vending-items .item__btn {
  width: 94px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 11px 0 9px;
  cursor: pointer;
  position: relative;
}

.vending-items .item__btn > img,
strong,
span {
  pointer-events: none;
}

.vending-items .item__title {
  display: block;
  font-size: var(--font-size);
  margin: 7px 0;
}

.vending-items .price {
  display: inline-block;
  width: 70px;
  height: 22px;
  line-height: 22px;
  background-color: var(--color-btn);
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
}

.item__btn:hover {
  outline: 3px solid var(--color-btn);
}

.vending-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin-bottom: 20px;
}

.buy-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.buy-info .buy-balance {
  grid-column: 1/3;
  width: 200px;
  display: inline-block;
  background-color: var(--color-bg);
  font-size: 14px;
  padding: 0 10px;
  line-height: 33px;
  border-radius: 5px;
  box-sizing: border-box;
}

.buy-info .buy-balance span {
  float: right;
}

.buy-info .return__btn,
.buy-info .put__btn {
  width: 94px;
  font-size: 13px;
  box-shadow: var(--shadow);
  border-radius: 5px;
  line-height: 33px;
}

.buy-info .put__money {
  grid-column: 1/3;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  line-height: 31px;
  font-size: 13px;
  padding: 0 10px;
  width: 200px;
  box-sizing: border-box;
}

.buy-info .put__money::placeholder {
  color: var(--color-border);
}

.drink-items {
  grid-column: 1/3;
  height: 106px;
  overflow-y: scroll;
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  padding: 12px;
  box-sizing: border-box;
}

.drink-items::-webkit-scrollbar,
.drink-items.get-list::-webkit-scrollbar {
  width: 8px;
}

.drink-items::-webkit-scrollbar-thumb,
.drink-items.get-list::-webkit-scrollbar-thumb {
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 100px;
}

.drink-items li {
  background-color: #fff;
  border-radius: 5px;
  padding: 8px;
}

.drink-items li + li {
  margin-top: 10px;
}

.drink-items .item__img {
  width: 18px;
  height: 33px;
  float: left;
}

.drink-items .item__title {
  float: left;
  font-size: 9px;
  line-height: 33px;
  margin-left: 10px;
}

.drink-items .num__counter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--color-border);
  float: right;
  font-size: 14px;
}
.buy-info .get__btn {
  background-color: var(--color-btn);
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
}

.mymoney-info {
  background-color: #fff;
  padding: 9px 27px;
  margin-bottom: 20px;
}

.mymoney-info .mymoney {
  background-color: var(--color-bg);
  font-size: 14px;
  padding: 0 10px;
  line-height: 33px;
  border-radius: 5px;
}

.mymoney-info .mymoney__text {
  float: right;
}

.get-item-info {
  width: 360px;
  background-color: #fff;
  padding: 31px 27px 52px;
  box-sizing: border-box;
}

.get-item__title {
  display: block;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 13px;
}

.drink-items.get-list {
  height: 364px;
}

.total__title {
  float: right;
  font-size: 12px;
  margin-top: 6px;
}

.sold-out::after {
  content: attr(data-after);
  background-image: url("./img/sold_out.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* ========== 반응형 ========== */

@media screen and (max-width: 48rem) {
  body {
    background-color: white;
  }
  .logo img {
    width: 166px;
  }
  .logo {
    margin: 0;
  }
  .mymoney-info {
    margin-bottom: 0;
  }
}
