:root {
  /* color */
  --color-bg: #eae8fe;
  --color-font: #333333;
  --shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  --color-btn: #6327fe;
  --color-border: #bdbdbd;
  /* size */
  --font-size: 9px;
  --inp-font-size: 14px;
  --btn-font-size: 13px;
}
