/* color */
$COLOR_BG: #eae8fe;
$COLOR_FONT: #333333;
$SHADOW: 0px 0px 4px rgba(0, 0, 0, 0.5);
$COLOR_BTN: #6327fe;
$COLOR_BORDER: #bdbdbd;
/* size */
$FONT_SIZE: 9px;
$INP_FONT_SIZE: 14px;
$BTN_FONT_SIZE: 13px;
